---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "urmom";
const slotText: string = "TposeProgrammer";
---

<BaseLayout pageTitle = {pageTitle}>
<h2>{slotText}</h2>
</BaseLayout>
