---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
const slotText: string = "This is subheading of my home page.";
---

<BaseLayout pageTitle={pageTitle}>
<h2>{slotText}</h2>
</BaseLayout>
