---
const plataform: string = "github";
const username: string = "geovannewashington";
---
<!--Footer.astro-->

<footer>
    <p>
    See more sexy code on my 
        <a href={`https://${plataform}.com/${username}`} target="_blank">{plataform}</a> 
    profile!
    </p>
</footer>
